body {
    background-color: $bg-dark-grey;
    color: $font-color;
    font-family: $primary-font;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}