$bg-dark-grey: rgb(30, 35, 38);
$input: rgba(56, 56, 56, 0.322);
$font-color: rgb(236, 236, 236);
$another-color: #005e37;

$secondary-font: 'Montserrat', sans-serif;
$primary-font: 'PT Sans', sans-serif;